/* Style for the navigation bar */
.topnav {
  overflow: hidden;

}
a{
  color:white;
}

.topnav a.logo {
  float: left;
  color: white;
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.contact,a.toggle,a.search {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change on hover */
.topnav a:hover {
  cursor: pointer;
  color:black;
  transition:all 0.5s ease;
}


/* Style for the header part */
.title{
  text-align: center;
  margin-bottom: -12px;
}

h3,p,h2,h4,h5{
  text-align: center;
}

.img,.btnblock{
  text-align: center;

}


.knowbtn{
color:white;
  margin-right: 55px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  background: none;
  margin-bottom: 20px;
}
.contactbtn{
  color:white;
  cursor: pointer;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  background: none;
  margin-bottom: 20px;
}
img{
border-radius: 12px;
}
button:hover{
  color:black;
  transition: all 0.5s ease;
  border:2px solid black;
  font-weight: bold;
}

/* Style for the about part */

h2.abouttitle{
  text-align: center;
  margin-bottom: -12px;
}

.getbtn{
color:black;
  margin-right: 55px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background: none;
  margin-bottom: 20px;
}
.servicebtn{
  color:black;
  cursor: pointer;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background: none;
  margin-bottom: 20px;
}
div.aboutblock{
  box-shadow:0px 2px 4px -2px black;
  margin-bottom: 40px;
}
/* Style for the section part */

 div.block{
   display: flex;
   margin: auto;
   background: white;
   height: 100px;
   width:400px;
   align-items: center;
   justify-content: center;
   text-align: center;
   box-shadow: 1px 2px 2px 2px black;
 }

 .sectionDesc{
   margin-bottom: 20px;
 }

div.departments{
  display: flex;
}
 div.department{
  border:3px solid #CE70FF;
  border-radius: 10px;
  margin:auto;
   background: white;
   height: 60px;
   width:200px;
   padding: 15px;
   margin-bottom: 20px;
   text-align: center;
 }
 div.department i{
   font-size: 25px;
 }
 .department:hover{
  box-shadow:1px 1px 1px 1px  #CE70FF;

 }

/* Style for the responsive page */
 @media screen and (max-width: 768px) {
   div.departments{
      display: block;
   }
   h1{
     font-size:25px;
   }

}

@media screen and (max-width: 600px) {

p{
  font-size:14px;
}
}

@media screen and (max-width: 500px) {
  p{
    font-size:11px;
  }
  div.block{
    width: 300px;
  }

}
@media screen and (max-width: 400px) {
  p{
    font-size:11px;
  }

}

@media screen and (max-width: 374px) {
  p{
    font-size:11px;
  }
  h1{
    font-size:23px;
  }h3{
    font-size:17px;
  }img{
    width:275px;
  }.getbtn{
    margin-right: 25px;
  }

}
